@import 'variables';
@import url('../../../../assets/scss/global-styles.scss');


.seccion-container {
    margin: 10px;
}

// AAAAAAAAAAAAAAAAAAAAA
.mat-dialog-content {
    margin: 0;
    word-wrap: break-word;
    max-height: 360px;
}

// AAAAAAAAAAAAAAAAAA

.tsp-labels {
    font-weight: 600;
}

.view-title-container {
    background-color: $tspSigesBlue;
    padding: 10px;
    text-align: center;
}

.register-background {
    width: 100%;
    margin-right: 5%;
}

.general-input {
    width: 100%;
}

.search-input {
    width: 80%;
}

.tsp-view-title {
    color: $tspSigesWhiteLetters;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.marging-buttons {
    margin-left: 5px;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
    max-width: 936px;
}

::ng-deep .cdk-overlay-pane {
    margin-left: 14%;
}

.button-close {
    background-color: $tspSigesError;
    color: $tspSigesWhite;
}

.button-save {
    background-color: $tspSigesBlue;
    color: $tspSigesWhite;
}

.icons {
    font-size: 20px;
    font-weight: 900;
    margin-left: -5px;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.round-button {
    height: 38px;
    width: 37px;
    margin-left: 5%;
    margin-top: -5%;
    background-color: $tspSigesSuccess;
}

.icons-with-input {
    font-size: 20px;
    font-weight: 900;
    margin-left: 1px;
    margin-top: -14px;
}

.tsp-secction-title {
    color: $tspSigesBlue;
    font-weight: 500;
    text-transform: uppercase;
}

.date-label {
    color: rgba(0, 0, 0, .6);
}

::ng-deep .p-calendar .p-inputtext {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, .6) !important;
}

.filter-container {
    padding-left: 2%;
    padding: 10px;
}

.button-plus {
    background-color: $tspSigesSuccess;
    color: $tspSigesWhite;
}

// TABLE
.button-actions {
    margin-top: 5px;
    background-color: $tspSigesBlue;
    border: none;
    border-radius: 4px;
}

.container-buttons {
    display: flex;
    align-items: center;
}

.container-buttons:hover {
    transform: translateY(0) scale(1.01);

}

.column-options {
    text-align: center !important;
}

.tsp-icons {
    color: $tspSigesWhite;
    margin-top: 0.4vh;
}

.mat-raised-button {
    min-width: none;
}

.status-red {
    color: red;
    text-align: center;
}

.status-green {
    color: green;
    text-align: center;
}

.data-columns {
    display: flex;
    justify-content: center;
}

.tsp-input-filter {
    width: 100%;
}

.tsp-table-container {
    font-size: 1px;
}

.space-container {
    margin-bottom: 10px;
}

.fileUpload {
    margin: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 10%;
    height: 40%;
}

.fileUpload input.upload {
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

space-container {
    margin-bottom: 10px;
}


.iconFile {
    font-size: 40px;
    color: $colorDanger;
}

.button-actions-delete {
    margin-top: 5px;
    background-color: $tspSigesError;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
}

.tsp-subTitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.contentAtribute {
    margin-bottom: 11px;

    .title {
        font-weight: bold;
        color: $tspSigesBlack;
        @extend .tsp-subTitle;
    }
}

.tsp-title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.325rem;
    line-height: 30px;
    font-weight: 600;
}

.btnSearch {
    margin-left: 2px;
}

.CloseModal {
    display: flex;
    justify-content: end;
    margin-top: 14px;
    margin-bottom: 10px
}

.SaveEdit {
    margin-top: auto;
    margin-bottom: auto;
}

.attachmentsFile {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}

.contentAttachment {
    margin-right: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.contentAttachmentFile {
    text-align: center;
    cursor: pointer;
    /* width: 80px; */
    display: flex;
    margin-left: 8px;
    margin-bottom: 10px;
}

.btnChangeAndRemove {
    padding-top: 10px;
    padding-bottom: 10px;
}

#fileUpload {
    appearance: none;
    visibility: hidden;
    opacity: 0;
}

.iconFile {
    padding-left: 8px;
    display: flex;
    align-items: center;

    .material-icons {
        font-size: 40px;
        color: $colorDanger;
    }

    .mat-icon {
        width: auto;
        height: auto;
    }
}

.nameFile {
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: $tspSigesBlackLetters;
    font-weight: bold;
    font-size: 16px;

}


.btnChange {
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
}

.btnRemove {
    display: flex;
    justify-content: end;

}

@media (max-width: 884px) and (min-width: 0px) {
    .title {
        text-align: center;
    }

    .contentAtribute {
        text-align: center;
    }

    .btnChange {
        justify-content: center;
    }

    .btnRemove {
        justify-content: center;

    }

    .mat-dialog-content {
        max-height: 360px;
    }

}