<div class="container-fluid">
    <div class="row register-background ">
        <div class="view-title-container">
            <h1 class="tsp-title tsp-view-title tsp-title-modals"> {{ 'MAINTENANCES.TITLES.HISTORY_VEHICLE' | translate
                }}</h1>
        </div>
        <mat-dialog-content>
            <div class="row seccion-container">
                <div class="row">
                    <hr class="ks-line" />
                    <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="tsp-secction-title ">
                            <span class="tsp-font-size-default-title  tsp-font-size-default">
                                {{ 'PIP.CREATE.INSURED_VEHICLE' | translate }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <mat-form-field class="search-input">
                            <mat-label> {{ 'PIP.DATA.LICENSE_PLATE' | translate }} </mat-label>
                            <input type="text" matInput placeholder="{{ 'PIP.DATA.LICENSE_PLATE' | translate }}"
                                maxlength="6" required
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </mat-form-field>
                        <button class="button-actions" (click)="searchVehicle()">
                            <mat-icon class="tsp-icons">search</mat-icon>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.AREA' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.RESPONSIBLE' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.TYPE' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.BRAND' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.MODEL' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.COLOR' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.YEAR' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.N_ENGINE' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            Data
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <span class="tsp-font-size-default-content  tsp-labels"> {{ 'PIP.DATA.SERIE' | translate
                            }}</span><br>
                        <span class="tsp-font-size-default-content ">
                            KLY3S11BDVC434860
                        </span>
                    </div>
                </div>
            </div>

            <div class="row seccion-container">
                <div class="row">
                    <hr class="ks-line" />
                    <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="tsp-secction-title ">
                            <span class="tsp-font-size-default-title  tsp-font-size-default">
                                {{ 'MAINTENANCES.LABELS.VEHICLE_HISTORY' | translate }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="container row table">
                    <p-table [columns]="cols" [value]="history" class="tsp-table-container" selectionMode="single"
                        [(selection)]="selectedItem" dataKey="id" styleClass="p-datatable-customers">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let column of columns" pSortableColumn="{{column.field}}"
                                    class="column-options table-font-header">
                                    {{column.header}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-customer let-rowData let-columns="columns"
                            let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="customer">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4"> {{ 'MAINTENANCES.LABELS.NO_VEHICLE' | translate }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>

        </mat-dialog-content>
        <div class="row mt-4">
            <div class="buttons-container">
                <button mat-raised-button color="primary" class="marging-buttons button-close" mat-dialog-close>
                    <mat-icon class="icons">close</mat-icon>{{ 'VEHICLES.BUTTONS.CLOSE' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>