<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tsp-view-title-container">
        <h1 class="tsp-title tsp-view-title">{{ 'MOBILITY_REQUEST.TITLE' | translate }}</h1>
    </div>
    <div class="filters">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 date">
                <div class="dateContent row">
                    <span class="title">Fecha</span>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 dateStart">
                        <mat-form-field appearance="fill" class="generalMatForm">
                            <mat-label>Date Start</mat-label>
                            <input matInput [matDatepicker]="picker1">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 dateEnd">
                        <mat-form-field appearance="fill" class="generalMatForm">
                            <mat-label>Date End</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 chipsUserArea">
                <cad-chips-input [items]="fruits" [InputLabel]="'MOBILITY_REQUEST.LABELS.USERS_AREAS' | translate"
                    [InputCheckLabel]="'TODAS' | translate"></cad-chips-input>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 chipsVehicle">
                <cad-chips-input [items]="fruits" [InputLabel]="'MOBILITY_REQUEST.LABELS.VEHICLES' | translate"
                    [InputCheckLabel]="'TODOS' | translate"></cad-chips-input>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 chipsDirvers">
                <cad-chips-input [items]="fruits" [InputLabel]="'MOBILITY_REQUEST.LABELS.DRIVERS' | translate"
                    [InputCheckLabel]="'TODAS' | translate"></cad-chips-input>
            </div>
            <div class="col-12 col-sm-2 md-1 col-lg-1 col-xl-1 btnSearch">
                <div>
                    <button mat-raised-button color="primary"><mat-icon>search</mat-icon></button>
                </div>
            </div>
            <div class="col-12 col-sm-6 md-7 col-lg-7 col-xl-7 btnNewAndHistory row">
                <div class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-4 contentBTNs">
                    <div class="btnNew">
                        <button mat-raised-button color="primary" class="generalMatForm"
                            (click)="openRegister()"><mat-icon>add</mat-icon>Nuevo</button>
                    </div>
                    <div class="btnHistory">
                        <button mat-raised-button color="primary"
                            class="generalMatForm"><mat-icon>history</mat-icon>Historial</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="listMobilityRequest">
        <cad-table-filter [items]="data" [columns]="columns" [actions]="actions" (searchEvent)="openShow($event)">
        </cad-table-filter>
    </div>
</div>