<div class="container">
    <div class="titleModal row">
        <!-- IZQUIERDA -->
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-6 leftSectionTitleModal ">
            <div class="titleNameModal row">
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-5">
                    <span class="tsp-title-modals">{{'FUEL_SUPPLIES.TITLES.SHOW'| translate}}</span>&nbsp;
                </div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-5">
                    <span>AIU-056</span>&nbsp;
                </div>
            </div>

        </div>
        <!-- DERECHA -->
        <div class="col-2 col-sm-2 col-md-4 col-lg-4 col-xl-6 optionsModal">
            <div class="optionModal">
                <div class="btnEdit">
                    <button mat-raised-button color="primary" mat-dialog-close (click)="openEdit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="btnRemove">
                    <button mat-raised-button color="warn" mat-dialog-close (click)="openUnsuscribe()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="optionsModalResponsive">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item mat-dialog-close (click)="openEdit()">
                        <mat-icon>edit</mat-icon>{{'GENERAL.BUTTONS.EDIT'| translate}}
                    </button>
                    <button mat-menu-item mat-dialog-close (click)="openUnsuscribe()">
                        <mat-icon>delete</mat-icon>{{'FUEL_SUPPLIES.UNSUSCRIBE.BTN'| translate}}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <!-- Content of ShowFuelSupplies -->
    <div mat-dialog-content class="container">
        <!-- Section Validation -->
        <div class="Section">
            <hr class="ks-line" />
            <div class="DataValidation">
                <div class="titleSection">
                    <mat-label>{{'FUEL_SUPPLIES.DATA.VALIDATION_DATA'| translate}}</mat-label>
                </div>
                <div class="container row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.LICENSE_PLATE'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.AREA'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.TYPE_VEHICLE'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>CAMIONETA</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.N_ENGINE'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.BRAND'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>DAEWOO</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.SERIE'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.MODEL'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>TICO SL</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.YEAR'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.COLOR'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label>AIU-586</mat-label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="ks-line" />

        <!-- Section dispatch -->
        <div class="Section">
            <div class="DataDispatch">
                <div class="titleSection">
                    <span>{{'FUEL_SUPPLIES.DATA.DISPATCH_DATA'| translate}}</span>
                </div>
                <div class="container row">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.DISPATCH_NOTE'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.DISPATCH_DATE'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.DISPATCH_TIME'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.SELLER'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.ODOMETER'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.CONTRACT'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 contentAtribute row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 title">
                            <mat-label>{{'FUEL_SUPPLIES.DATA.DRIVER'| translate}}</mat-label>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 data">
                            <mat-label> AIU-586</mat-label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="ks-line" />

        <!-- Section Supplying -->
        <div class="Section">
            <div class="Supplying">
                <div class="titleSection">
                    <span>{{'FUEL_SUPPLIES.DATA.SUPPLIYING'| translate}}</span>
                </div>
                <div class="SectionTable row">
                    <div class="contentTable col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p-table [value]="fuelSuplies">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{'FUEL_SUPPLIES.DATA.ITEM'| translate}}</th>
                                    <th>{{'FUEL_SUPPLIES.DATA.CONCEPT'| translate}}</th>
                                    <th>{{'FUEL_SUPPLIES.DATA.QUANTITY'| translate}}</th>
                                    <th>{{'FUEL_SUPPLIES.DATA.PU'| translate}}</th>
                                    <th>{{'FUEL_SUPPLIES.DATA.AMOUNT'| translate}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-FuelSuplies let-rowIndex="rowIndex">
                                <tr>
                                    <td>{{FuelSuplies.item}}</td>
                                    <td>{{FuelSuplies.concepto}}</td>
                                    <td>{{FuelSuplies.cantidad}}</td>
                                    <td>{{FuelSuplies.pu}}</td>
                                    <td>{{FuelSuplies.importe}}</td>
                                </tr>
                                <tr *ngIf="rowIndex+1==fuelSuplies.length">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{'FUEL_SUPPLIES.DATA.TOTAL'| translate}}</td>
                                    <td colspan="3">{{total}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="CloseModal">
        <button mat-flat-button mat-button mat-dialog-close color="warn">
            <mat-icon>close</mat-icon>{{'GENERAL.BUTTONS.CLOSE' | translate}}
        </button>
    </div>
</div>