@import 'variables';

.tsp-view-title {
  text-align: center;
  color: $tspSigesWhiteLetters;
}

.mat-dialog-content {
  margin: 0;
  word-wrap: break-word;
  max-height: 360px;
}

::ng-deep .mat-dialog-container {
  padding: 0px;
  max-width: 936px;
}

.tsp-title-modals {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 30px;
  font-weight: 600;
}

.tsp-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.325rem;
  line-height: 30px;
  font-weight: 600;
}

.tsp-subTitle {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}


.titleModal {
  background-color: $tspSigesBlue;
  color: $tspSigesWhite;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 8px;
  padding-bottom: 8px;
  @extend .tsp-title-modals;

  .titleNameModal {
    display: flex;
    justify-content: center;
  }

  .state {
    border: 1px solid;
    text-align: center;
    justify-content: center;
    background: $tspSigesMagenta;
    color: $tspSigesBlack;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 5px;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    border-color: $tspSigesMagenta;
  }
}


.optionsModal {
  display: flex;
  justify-content: end;
  margin-right: 20px
}


.contentAtribute {
  margin-bottom: 11px;

  // padding-left: 20px;
  .title {
    font-weight: bold;
    color: $tspSigesBlack;
    @extend .tsp-subTitle;
  }
}

.Section {
  // border-radius: 3px;
  margin-top: 10px;
  margin-left: 4px;
  // box-shadow: 0px 1px 4px $tspSigesBlack;
  // border-top: 3px solid;
  // border-color: $tspSigesBlue;
  // margin-bottom: 14px;
}

.mat-divider {
  border-top-width: 2px;
  margin-left: -11px;
  margin-right: -10px;
  border-top-style: solid;
  border-top-color: $tspSigesBlue;
}

.title {
  color: $tspSigesBlue;
  font-weight: bold;
  @extend .tsp-title;
}

.mat-raised-button {
  padding: 0 2px 0px 2px;
  min-width: 0;
  width: 40px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.flex {
  display: flex;
}

.CloseModal {
  display: flex;
  justify-content: end;
  margin-top: 14px;
  margin-bottom: 10px
}

.SaveEdit {
  margin-top: auto;
  margin-bottom: auto;
}

.btnSearch {
  min-width: 0;
  margin-left: 10px;
}

.generalMatForm {
  width: 100%;
}

.searchPlate {
  max-width: 120px;

  input {
    text-align: center;
  }
}

.generalLabel {
  color: black;
  font-weight: bold;
}

// AAAAAAAAAAAAAAAAAAAAA

.attachmentsFile {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.contentAttachment {
  margin-right: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.contentAttachmentFile {
  text-align: center;
  cursor: pointer;
  /* width: 80px; */
  display: flex;
  margin-left: 8px;
  margin-bottom: 10px;
}

.btnChangeAndRemove {
  padding-top: 10px;
  padding-bottom: 10px;
}

#fileUpload {
  appearance: none;
  visibility: hidden;
  opacity: 0;
}

.iconFile {
  padding-left: 8px;
  display: flex;
  align-items: center;

  .material-icons {
    font-size: 40px;
    color: $colorDanger;
  }

  .mat-icon {
    width: auto;
    height: auto;
  }
}

.nameFile {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: $tspSigesBlackLetters;
  font-weight: bold;
  font-size: 16px;

}


.btnChange {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}

.btnRemove {
  display: flex;
  justify-content: end;

}

@media (max-width: 884px) and (min-width: 0px) {
  .title {
    text-align: center;
  }

  .contentAtribute {
    text-align: center;
  }

  .btnChange {
    justify-content: center;
  }

  .btnRemove {
    justify-content: center;

  }

  .mat-dialog-content {
    max-height: 360px;
  }

}



//   @media (max-width: 664px){
//     .titleModal {
//         display: flex;
//         text-align: center;
//         justify-content: center;
//     }
//     .statePIP {
//         justify-content: center;
//         display: flex
//       }
//   }