@import 'variables';

.tsp-view-title {
    text-align: center;
    color: $tspSigesWhiteLetters;
}

.mat-dialog-content {
    margin: 0;
    word-wrap: break-word;
    max-height: 360px;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
    max-width: 936px;
}

.tsp-title-modals {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 30px;
    font-weight: 600;
}

.tsp-title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.325rem;
    line-height: 30px;
    font-weight: 600;
}

.tsp-subTitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}


.titleModal {
    background-color: $tspSigesBlue;
    color: $tspSigesWhite;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 44px;
    padding-top: 4px;
    padding-bottom: 4px;
    @extend .tsp-title-modals;

    .titleNameModal {
        display: flex;
        justify-content: left;
        margin-top: auto;
        margin-bottom: auto;
    }

    .contentState {
        display: flex;

        .state {
            // border: 1px solid;
            text-align: center;
            // background: $colorSuccess;
            border-radius: 5px;
            padding-right: 7px;
            padding-left: 7px;
            padding-bottom: 3px;
            padding-top: 3px;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: bold;
            // border-color: $colorSuccess;
            color: $tspSigesWhite;
        }

        .BalanceState {
            display: flex;
            align-items: center;

            .balanceState {
                display: flex;
                align-items: center;
                margin-left: 4px;
                padding: 7px;
                border-radius: 5px;
            }

        }
    }

}

.leftSectionTitleModal {
    margin-top: auto;
    margin-bottom: auto;
}

.optionModal {
    display: flex;
    justify-content: end;
}


.contentAtribute {
    display: flex;
    margin-bottom: 11px;

    // padding-left: 20px;
    .title {
        font-weight: bold;
        color: $tspSigesBlack;
        @extend .tsp-subTitle;
    }
}

.Section {
    // border-radius: 3px;
    margin-top: 10px;
    margin-left: 4px;
    // box-shadow: 0px 1px 4px $tspSigesBlack;
    // border-top: 3px solid;
    // border-color: $tspSigesBlue;
    // margin-bottom: 14px;
}

.mat-divider {
    border-top-width: 2px;
    margin-left: -11px;
    margin-right: -10px;
    border-top-style: solid;
    border-top-color: $tspSigesBlue;
}

.title {
    color: $tspSigesBlue;
    font-weight: bold;
    @extend .tsp-title;
}

.subtitle {
    @extend .tsp-subTitle;
    margin-top: auto;
    margin-bottom: auto;
}

.mat-raised-button {
    padding: 0 2px 0px 2px;
    min-width: 0;
    width: 40px;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.flex {
    display: flex;
}

.CloseModal {
    display: flex;
    justify-content: end;
    margin-top: 14px;
    margin-bottom: 10px
}

.optionsModalResponsive {
    display: none;
    align-items: center;
}

.statusSuccess {
    border: 1px solid;
    background-color: $colorSuccess;
    border-color: $colorSuccess;
}

.statusYelow {
    border: 1px solid;
    background-color: $colorWarning;
    border-color: $colorWarning;
}

.statusRed {
    border: 1px solid;
    background-color: $colorDanger;
    border-color: $colorDanger;
}

.table {
    ::ng-deep .p-datatable .p-datatable-thead>tr>th {
        background-color: $tspSigesBlue;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width: 884px) and (min-width: 0px) {
    .title {
        text-align: center;
    }

    .contentAtribute {
        text-align: center;
    }

    .optionsModal {
        margin-top: auto;
        margin-bottom: auto;
    }

    .mat-dialog-content {
        max-height: 360px;
    }

    .leftSectionTitleModal {
        justify-content: center;
    }

    .subtitle {
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        justify-content: center;
    }

}

@media (max-width: 664px) {

    .optionModal {
        display: none;
    }

    .optionsModalResponsive {
        display: flex;
        justify-content: end;
    }

    .mat-dialog-content {
        max-height: 300px;
    }

    .contentState {
        margin-bottom: 6px;
    }
}